<div class="main">
  <div class="card" *ngFor="let pokeball of pokeball_arr">
    <div
      class="card-color ccol"
      [ngStyle]="{ backgroundColor: getColor(pokeball.name) }"
    >
      <!-- [style.backgroundColor]="'baccols'" -->
      <img src="../../../assets/pokeball123.png" alt="" />
    </div>

    <div class="card-content">
      <h1>
        {{ pokeball.name }}
      </h1>

      <p>
        {{ pokeball.catchrate }}
      </p>

      <button>more</button>
    </div>
  </div>
</div>
