

<div class="main">

    <div class="side-box">
        <div class="top-border">

        </div>

        <div class="box-content">
            

                <div class="nvbr">
                    <div class="nav" *ngFor="let nav of vNav_arr">
                        <a [routerLink]="nav.link"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}"
                        >
                            {{ nav.name }}
                        </a>
                    </div>
                   </div>
    
            
        </div>
        <div class="bottom-border">

        </div>

    </div>

    <div class="container">
        <div class="main">
     
            <router-outlet>

            </router-outlet>
        </div>
     </div>

      
     </div>
     





