*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container{

    width: 100%;

    display: flex;

}



.nvbr{

    width: 100%;
    height: 100%;

    position: absolute;

}

.nav{

    display: flex;


}

.nav>a{

    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: bolder;
    background-color: white;
    border: solid 5px black;
    width: 100%;
    padding: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;

    border-radius: 0.5em;
}

.mainContent{

    width: 80%;
}

.active{

    background-color: red;
}

/* @keyframes slid {

    0%{
        width: 0;
    }

    100%{
        width: 90%;
    }
    
}
 */


.box-content{

    padding : 0.5em 0 0 0.5em;

}

