* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(20em, 1fr));
  grid-gap: 3rem;

  padding: 5%;
}

.card {
  width: 15em;
  height: 20em;

  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;

  position: relative;

  border-radius: 2em;

  overflow: hidden;

  /*  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5); */
}

.card-color {
  transition: all 1s ease-in-out;

  height: 65%;
  width: 85%;
  background-color: teal;

  border-radius: 50%;

  position: absolute;

  transition: all 0.5s ease-in-out;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 30%;
  padding: 1em 2em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: capitalize;

  background-color: rgba(0, 0, 0, 0.2);
  /* border-top-left-radius: 1em;
                          border-top-right-radius: 1em; */

  transition: all 1s ease-in-out;

  border-radius: 2em;
}

.card-content> h1{
  width: 150%;
}

.card-content > button {
  display: none;
}

.ccol {
  height: 70%;
  width: 100%;
  background-color: teal;

  position: absolute;

  transition: all 1s ease-in-out;

  overflow: hidden;

  clip-path: polygon(
    100% 85%,
    50% 100%,
    0 80%,
    30% 35%,
    30% 5%,
    35% 0,
    70% 0,
    70% 35%
  );
}

.ccol::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(90deg, white, grey);
  height: 100%;
  width: 100%;

  clip-path: polygon(
    35% 0%,
    75% 0%,
    75% 35%,
    95% 70%,
    88% 70%,
    67% 35%,
    67% 15%,
    60% 15%,
    55% 20%,
    55% 25%,
    50% 28%,
    45% 30%,
    45% 38%,
    32% 35%,
    32% 22%,
    25% 10%
  );
}

.ccol::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  bottom: 0;
  filter: blur(5px);
  clip-path: polygon(
    22% 47%,
    0% 80%,
    50% 100%,
    100% 85%,
    70% 35%,
    92% 82%,
    55% 90%,
    50% 40%,
    45% 90%,
    5% 78%
  );
}

/* .card:hover > .ccol {
  height: 100%;
  width: 100%;

  border-radius: 0;
  clip-path: none;
}


.card:hover > .ccol::after {
  content: none;
}
.card:hover > .ccol::before {
  content: none;
} */

.card:hover > .card-color {
  height: 70%;
  width: 100%;

  position: absolute;

  top: 20%;

  border-radius: 0;
  z-index: 1;
}

.card:hover > .card-content {
  position: absolute;
  align-self: center;
  height: 100%;

  color: white;
  opacity: 0.6;

  padding-bottom: 2em;
}
