<div class="main">
  <div class="card" *ngFor="let potion of potions_arr">
    <div
      class="card-color ccol"
      [ngStyle]="{ backgroundColor: getColor(potion.name) }"
    >
      <!-- [style.backgroundColor]="'baccols'" -->
    </div>

    <div
      class="card-content"
      [ngStyle]="{ backgroundColor: getColor(potion.name) }"
    >
      <h1>
        {{ potion.name }}
      </h1>

      <p>
        {{ potion.catchrate }}
      </p>

      <button>more</button>
    </div>
  </div>
</div>
