<div class="main">
  <div *ngFor="let poketyp of poketyps, let ix = index">
    <div class="card">
      <div
        class="card-color"
        [ngStyle]="{ backgroundColor: getColor(poketyp.eltyp) }"
        (click)="doSome(poketyp.eltyp)"
      >
        <!-- [style.backgroundColor]="'baccols'" -->
      </div>

      <div class="card-content">
        <h1>
          {{ poketyp.eltyp }}
        </h1>

        <p>
          {{ poketyp.desc }}
        </p>

        <button>more</button>
        <ng-template>

            <app-pokelist></app-pokelist>

            
        </ng-template>
      </div>
    </div>
  </div>
</div>
