<div class="main" [ngStyle]="{ backgroundColor: search_color }">
  <div class="side-box">
    <div class="top-border" [ngStyle]="{ backgroundColor: search_color }"></div>

    <div class="box-content" [ngStyle]="{ backgroundColor: search_color }">
      <ul>
        <li>
          <div class="filter search-content">
            <input
              type="text"
              #search
              onfocus="this.value=''"
              (keyup)="searchSome(search.value)"
            />
            <button (click)="searchSome(search.value)" class="sercher">
              search
            </button>
          </div>
        </li>
        <li>
          <div class="filter content-type">
            <div class="tab" (click)="showType()">
              <h4>Filter By Type</h4>
              <h3>+</h3>
            </div>
            <ng-template [ngIf]="typeshow && !genshow">
              <div
                class="tag"
                (click)="doSome(Type.type)"
                *ngFor="let Type of typePoke"
                [ngStyle]="{ backgroundColor: Type.color }"
              >
                {{ Type.type }}
              </div>
            </ng-template>
          </div>
        </li>
        <li>
          <div class="filter content-gen">
            <div
              class="tab"
              (click)="showGen()"
              [ngStyle]="{ 'margin-top': !typeshow  ? 0 : '22vh' }"
            >
              <h4>Filter By Gen</h4>
              <h3>+</h3>
            </div>
            <ng-template [ngIf]="genshow && !typeshow">
              <div
                class="tag"
                (click)="doGen(gen.gen_id)"
                *ngFor="let gen of gen_arr"
                [ngStyle]="{ backgroundColor: gen.color }"
              >
                generation {{ gen.gen_id }}
              </div>
            </ng-template>
          </div>
        </li>
      </ul>
    </div>
    <div
      class="bottom-border"
      [ngStyle]="{ backgroundColor: search_color }"
    ></div>
  </div>
  <button class="clear" *ngIf="search_arr.length != 0" (click)="clear()">
    back
  </button>

  <div
    class="gen"
    *ngFor="
      let pokemon of search_arr.length != 0 ? search_arr : pokemons_arr;
      let ix = index
    "
  >
    <div
      class="wishlist"
      (click)="wishlist()"
      [ngStyle]="{ backgroundColor: wishicon == true ? 'red' : 'white' }"
    ></div>
    <div class="card" (click)="switchCard(ix)">
      <img
        src="../../../assets/images/{{ this.imgid(pokemon.id, 3) + '.png' }}"
        alt=""
      />

      <div
        class="card-color"
        [ngStyle]="{ backgroundColor: getColor(pokemon.type[0]) }"
      >
        <!-- [style.backgroundColor]="'baccols'" -->
      </div>

      <div class="card-content">
        <div class="watermark">
          {{ pokemon.id }}
        </div>
        <h1>
          {{ pokemon.name.english }}
        </h1>

        <div class="type-content">
          <div
            class="type"
            *ngFor="let typeData of pokemon.type; let i = index"
          >
            <p
              *ngIf="i == 0"
              [ngStyle]="{ backgroundColor: getColor(pokemon.type[0]) }"
            >
              {{ typeData }}
            </p>

            <p
              *ngIf="i == 1"
              [ngStyle]="{ backgroundColor: getColor(pokemon.type[1]) }"
            >
              {{ typeData }}
            </p>
          </div>
        </div>

        <button>more</button>
      </div>
    </div>
  </div>
</div>
